extends layout

block content
  div(id="top")
    img(src="./img/komugiImage.jpeg" id="topImage") 
    a(href="#main" id="scrollArrow")
      img(src="./img/arrow.png" id="arrow")
    
  div(id="main")
    div(id="header")
      
    //- p Welcome to #{title}
    h1(id="welcome") Let's watch Komugi movement!! 
    #map.map
      #popup
    
    input(type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;")
    div(id="slider")
