extends layout

block content
  div(id="top")
    div(id="topImage")
      div(id="logo")
        img(src="./img/logo.png")
      
      a(href="#main" id="scrollArrow")
        img(src="./img/arrow.png" id="arrow")
    
      p(class="credit") Team Komugi Road
    
  div(id="main")
    div(id="header")
      
    h1(id="welcome") Let's observe how crops move beyond borders!  
    #categoryNav
      img(src="./images/kome_01.png" data-category="kome").categoryNav_category
      img(src="./images/mugi_01.png" data-category="mugi").categoryNav_category.selected
      img(src="./images/tomo_01.png" data-category="tomo").categoryNav_category
    #map.map
      #popup
      
    div(id="footer")
      p(class="credit") Team Komugi Road
